      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">/dev/All</h1>
          <form class="form-inline" [formGroup]="form" (ngSubmit)="buscar()">
            Buscar por
            <div class="form-group mx-sm-3 mb-2">
              <input type="text" formControlName="search" class="form-control" id="search">
            </div>
            <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>    
      <div class="container">
  <!-- Example row of columns -->
  <div *ngIf="!load" class="row">
    <div *ngFor="let post of posts" class="col-md-4 mb-5 border-bottom">
      <span class="badge badge-pill badge-info">{{post.dataPublicacao}}</span>
      <h2>{{post.titulo}}</h2>
      <p>{{post.resumo}}</p>
      <p>
        <a class="btn btn-secondary" target="_blank" href="{{post.url}}" role="button">Ver Site &raquo;</a>
      </p>
    </div>
  </div>
  <div *ngIf="load" class="row text-center">    
    <div class="spinner-grow" role="status">
      <span class="sr-only"></span>
    </div>
    Carregando posts
  </div>
  <hr>

</div>